/* RESET STYLES v1.0 | 20080212 | http://meyerweb.com/eric/tools/css/reset/ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body { line-height: 1; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
a:focus { outline: 1px dotted; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }

/* CLEARFIX */
.clearfix:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}
.clearfix { display: inline-block; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display:block; }
/* End hide from IE-mac */

/* GENERAL SELECTORS */

body { margin: 0 0; width: auto; position: relative; background: #FFF url(../images/gradient-light.jpg) repeat-x; color: #398fc1; font-family: Helvetica, Arial, sans-serif; font-size: 62.5%; }
#content {
	width: auto; height: 830px;
}
#logo { margin: 15px 0 0 25px; }
#form { margin: 35px 0 0 70px; padding-left: 140px; background: url(../images/icon.png) no-repeat 0 -10px; }
label { font-size: 12pt; display: block; font-weight: bold; margin: 10px 0 3px 0; }
#wsdl, #ns, #file { width: 650px; font-size: 13.5pt; color: #779; }
#shortns { width: 100px; font-size: 13.5pt; color: #779; margin-right: 6pt; }
#type { width: 590px; font-size: 13.5pt; color: #779; float:left; height:30px; }
#objcns { display: none; font-weight: normal; color: #5AC; font-size: 12pt; }
#submit { float: left; display:block; }
p, blockquote { font-weight: normal; color: #333; font-size: 12pt; }
blockquote { margin: 15pt; font-weight: bold; color: #666; }
label a { font-size: 9pt; padding-left:9pt; font-weight:normal; }
a, a:link, a:visited { color: #779; text-decoration:none; }
a:hover, a:active { color: #667; text-decoration:underline; }

/* AUTHENTICATION */
form div { clear: both; }
#authentication { display:none; padding-bottom:6pt; }
#authentication div { width: 280px; padding-right:22px; float:left; clear:none; }
#authentication input { width: 100%; font-size: 13.5pt; color: #779; margin-bottom:6pt; }

#local { display: none; }
#filemode input { display: inline; }
#filemode label { display: inline; font-weight:normal; font-size:10pt;color:#667; }
#donate { display: block; position:absolute; top:30px; left: 745px; }
#tutorial { display: block; margin: 100px 0 0 210px; }
h2 { font-size: 12pt; display: block; font-weight: bold; margin:0 0 10px 0; clear:both; }