body {
  font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  font-size: 80%;
}

h1 {
  margin-top: 30pt;
  font-size: 24pt;
}

h2 {
  margin-top: 30pt;
  font-size: 18pt;
  border: solid 1px #999;
  border-width: 0 0 1px 0;
}

h3 {
  margin-top: 14pt;
  margin-bottom: 6pt;
  font-size: 14pt;
}

h4 {
  margin-bottom: 0;
}

code {
  font-family: Monaco, monospace;
  font-size: 8pt;
}

dt {
  font-style: italic;
}

dd {
  margin-left: 12pt;
  margin-bottom: 6pt;
}

ul li {
  font-family: Monaco, monospace;
  font-size: 9pt;
  list-style: none;  
}

a {
  color: #5d69cd;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #163474;
}