<plist><array><dict><key>section</key><string>Tutorial</string><key>items</key><array><dict><key>title</key><string>Tutorial</string><key>file</key><string>Documentation/tutorial/index.html</string></dict></array></dict><dict><key>section</key><string>Packages</string><key>items</key><array><dict><key>title</key><string>SDZStockQuote</string><key>index</key><string>Documentation/toc/SDZStockQuote.plist</string></dict></array></dict></array></plist>